<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" type="button" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">OShop</a>

    <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/shopping-cart">Shopping-Cart</a>
            </li>


            <li *ngIf="!appUser" class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>

            <li ngbDropdown *ngIf="appUser" class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{appUser.name}}</a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">

                    <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
                    <a *ngIf="appUser.isAdmin" class="dropdown-item" routerLink="/admin/orders">Manage orders</a>
                    <a *ngIf="appUser.isAdmin" class="dropdown-item" routerLink="/admin/products"> Manage Products</a>
                    <a class="dropdown-item" (click)="logOut() ">Log Out</a>
                </div>
            </li>
        </ul>

    </div>
</nav>